@import "../../styles/variables.scss";

.form-field {
  height: 52px;
  width: 100%;
  box-sizing: border-box;

  .form-field-label {
    font-size: 12px;
    position: relative;
    top: 3px;
    color: rgba($main-gray, 0.5);
  }

  input {
    border: 0;
    border-bottom: 1px solid $main-blue;
    padding-bottom: 1px;
    box-sizing: border-box;
    width: 100%;

    &:focus {
      outline: none;
      padding-bottom: 0;
      border-bottom: 2px solid $main-blue;
    }

    &.invalid {
      border-color: $main-red;

      &:focus {
        border-color: 2px solid $main-blue;
      }
    }

    &[type="file"] {
      display: none;
    }
  }

  &.file-input {
    .form-field-label {
      top: 0;
    }

    input {
      border-bottom: 0;
    }
  }

  .error-text {
    color: $main-red;
    font-size: 12px;
  }
}
