$main-blue: rgb(53, 135, 190);
$light-blue: rgba($main-blue, 0.25);
$white: white;
$main-gray: rgb(74, 74, 74);
$middle-gray: rgba($main-gray, 0.5);
$light-gray: rgba($main-gray, 0.2);
$outline-gray: rgba($main-gray, 0.05);
$main-red: rgb(250, 16, 10);
