$main-blue: #3587be;
$light-blue: rgba($main-blue, 0.25);
$white: white;
$main-gray: #4a4a4a;
$middle-gray: rgba($main-gray, 0.5);
$light-gray: rgba($main-gray, 0.2);
$outline-gray: rgba($main-gray, 0.05);
$main-red: #fa100a;
